.button {
  background: var(--eo-ui-background-url);
  outline: none;
  border-style: solid;
  border-width: var(--eo-ui-button-border-width);
  border-image: var(--eo-ui-border-button);
  border-image-repeat: stretch;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 4px 10px;
  height: var(--eo-ui-button-small-height);
  min-width: 100px;
}

.button > span {
  font-family: var(--eo-ui-button-font-family);
  letter-spacing: -3px;
  word-spacing: 3px;
  color: var(--eo-ui-button-text-color);
  -webkit-text-stroke: 0.9px var(--eo-ui-button-stroke-color);
  font-size: var(--eo-ui-button-small-font-size);
  text-decoration: none;
  transform: scaleX(0.75);
  text-shadow:
    -1px -1px 0 var(--eo-ui-button-stroke-color),
    0 -1px 0 var(--eo-ui-button-stroke-color),
    1px -1px 0 var(--eo-ui-button-stroke-color),
    1px 0 0 var(--eo-ui-button-stroke-color),
    1px 1px 0 var(--eo-ui-button-stroke-color),
    0 1px 0 var(--eo-ui-button-stroke-color),
    -1px 1px 0 var(--eo-ui-button-stroke-color),
    -1px 0 0 var(--eo-ui-button-stroke-color);
}

.button:hover > span {
  color: var(--eo-ui-button-hover-text-color);
  text-shadow: var(--eo-ui-button-hover-text-shadow) 0 0 5px;
}

.button.large {
  padding: 2px 4px;
  height: var(--eo-ui-button-large-height);
  justify-content: space-between;
}

.button.large::after,
.button.large::before {
  content: " ";
  display: block;
  width: 16px;
  height: 15px;
  background: url("../assets/atlas.png") var(--eo-ui-screw-x)
    var(--eo-ui-screw-y);
}

.button.large > span {
  align-self: flex-end;
  font-size: var(--eo-ui-button-large-font-size);
}
