.button {
  background: url("./wood.png");
  outline: none;
  border-style: solid;
  border-width: 2px 1px 1px 1px;
  border-image: url("./border-button.png") 3 2 2 2 fill;
  border-image-repeat: stretch;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 4px 10px;
  height: 35px;
  min-width: 100px;
}

.button > span {
  font-family: "forte", "ms_sans_serif_bold", sans-serif;
  letter-spacing: -3px;
  word-spacing: 3px;
  color: var(--eo-ui-button-text-color);
  -webkit-text-stroke: 0.9px var(--eo-ui-button-stroke-color);
  font-size: 2.1em;
  text-decoration: none;
  transform: scaleX(0.75);
  text-shadow:
    -1px -1px 0 var(--eo-ui-button-stroke-color),
    0 -1px 0 var(--eo-ui-button-stroke-color),
    1px -1px 0 var(--eo-ui-button-stroke-color),
    1px 0 0 var(--eo-ui-button-stroke-color),
    1px 1px 0 var(--eo-ui-button-stroke-color),
    0 1px 0 var(--eo-ui-button-stroke-color),
    -1px 1px 0 var(--eo-ui-button-stroke-color),
    -1px 0 0 var(--eo-ui-button-stroke-color);
}

.button:hover > span {
  color: var(--eo-ui-button-hover-text-color);
  text-shadow: var(--eo-ui-button-hover-text-shadow) 0 0 5px;
}

.button.large {
  padding: 2px 4px;
  height: 45px;
  justify-content: space-between;
}

.button.large::after,
.button.large::before {
  content: " ";
  display: block;
  width: 16px;
  height: 15px;
  background: url("./atlas.png") var(--eo-ui-screw-x) var(--eo-ui-screw-y);
}

.button.large > span {
  align-self: flex-end;
  font-size: 2.4em;
}
