@font-face {
  font-family: ms_sans_serif;
  src: url("./assets/ms_sans_serif.woff2");
}

@font-face {
  font-family: ms_sans_serif_bold;
  src: url("./assets/ms_sans_serif_bold.woff2");
}

@font-face {
  font-family: forte;
  src: url("./assets/forte.woff2");
}
